<app-header></app-header>
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      ABOUT
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row text-justify">
      <p class="lead">
        I am a Software Developer and English Teacher with a deep passion for
        programming and an unwavering commitment to continuous learning in new
        technologies. I specialize in creating innovative solutions that not
        only solve problems but also deliver an exceptional user experience.
      </p>
      <p class="lead">
        My educational background includes a Bachelor's Degree in English
        Teaching at the Instituto Superior de Curuzú Cuatiá (ISCC), which I
        completed between 2016 and 2021, followed by a Technical Degree in
        Software Development at the same institution, finished in 2023.
        Additionally, I have expanded my knowledge through specialized courses
        on platforms like Udemy, where I have completed training in Angular,
        NodeJS, and Javascript.
      </p>
      <p class="lead">
        As for my skills, I highlight my ability to work in teams, my
        commitment, responsibility, and empathy. I am proactive and have strong
        problem-solving skills. On a technical level, I am proficient in Angular
        CLI/Angular Material, Typescript, Node.js, Figma, SQL Queries, and
        Bootstrap.
      </p>
      <p class="lead">
        Currently, I am working as a Junior Software Engineer at Bricke Project
        and as an English Teacher at the Instituto Curuzucuatiense de Lengua
        Inglesa (ICLI), roles I have been in since 2022. Additionally, I work as
        a freelance software developer, allowing me to apply and continue
        developing my skills in various projects.
      </p>
      <p class="lead">
        My goal is to continue growing in the field of software development,
        always striving for excellence in every project I undertake and
        combining technical skills with a human-centered approach to deliver
        results that exceed expectations.
      </p>
    </div>
  </div>
</section>
<section class="bg-white">
  <!-- Skills Section -->

  <div class="container mt-5">
    <h2 class="text-center text-uppercase form-label">Abilities</h2>

    <div class="mb-3">
      <label for="html-css" class="form-label"
        >Angular CLI / Angular Material</label
      >
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="javascript" class="form-label">Node js</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="general" class="form-label">Serverless</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          70%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="creativity" class="form-label">Bootstrap</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="multitasking" class="form-label">HTML/CSS</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="sql" class="form-label">SQL</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="php" class="form-label">PHP</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 60%"
          aria-valuenow="60"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          60%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="figma" class="form-label">Figma</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="trello" class="form-label">Trello</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="multitasking" class="form-label">Multitarea</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="multitasking" class="form-label">Creatividad</label>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>
  </div>
</section>
