<app-header></app-header>
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row g-5">
      <div class="col-lg-5 ms-auto text-center">
        <h3><i class="fa-regular fa-user"></i> Sobre Mí</h3>
        <p class="lead">
          Soy Desarrollador de Software y Profesor de Inglés, apasionado por la
          programación y el aprendizaje continuo de nuevas tecnologías. Me
          especializo en crear soluciones innovadoras que no solo resuelven
          problemas, sino que también ofrecen una experiencia de usuario
          sobresaliente.
        </p>
        <br />
        <h3><i class="fa-solid fa-school"></i> Educación</h3>
        <p>
          Profesorado de Ingles 2016-2021 ISCC (Instituto Superior de Curuzú
          Cuatiá)
        </p>
        <p>Tecnicatura en Desarrollo de Software- ISCC 2021 - 2023</p>
        <br />
        <h3><i class="fa-solid fa-school"></i> Cursos Completados</h3>
        <p>
          Udemy- Curso de Angular-2023-2024 <br />
          Udemy- Curso NodeJS 2023 <br />
          Udemy- Javascript 2021
        </p>
      </div>
      <div class="col-lg-5 me-auto text-center">
        <h3><i class="fa-regular fa-star"></i> Habilidades</h3>

        <p class="lead">
          Trabajo en equipo <br />
          Compromiso <br />
          Responsabilidad y empatía <br />
          Proactividad <br />
          Resolucion de problemas <br />Angular cli/Angular Material <br />
          Figma <br />Typescript <br />
          Node js <br />
          SQL Queries <br />
          Bootstrap
        </p>
        <h3><i class="fa-solid fa-code"></i> Experiencia laboral</h3>

        <p class="lead text-left">
          Bricke Project-Software Engineer Jr (trabajo actual)
        </p>
        <p class="lead text-left">
          Instituto Curuzucuatiense de lengua Inglesa (ICLI)- Profesor de Ingles
          2022-actual
        </p>
        <p class="lead text-left">Freelancer- Software Developer</p>
      </div>
    </div>
  </div>
</section>
