<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">
          <i class="fa-solid fa-phone"></i> Contact
        </h4>
        <p class="lead mb-0">{{ gmail }} <br /></p>
        <p class="lead mb-0">Curuzu Cuatia, Corrientes, Argentina <br /></p>
        <a class="lead mb-0" href="https://wa.me/3774479739" target="_blank"
          >+ 54 3774 479739</a
        >
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">AROUND THE WEB</h4>

        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://www.linkedin.com/in/mateo-cardozo-283b20260"
          target="_blank"
          ><i class="fab fa-fw fa-linkedin-in"></i></a
        >PORTFOLIO
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://github.com/Mateo21cardozo"
          target="_blank"
          ><i class="fab fa-fw fa-github"></i
        ></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">TOOLS</h4>
        <i class="fa-brands fa-node btn-social"></i
        ><i class="fa-brands fa-angular btn-social"></i>
        <i class="fa-brands fa-bootstrap btn-social"></i>
        <i class="fa-brands fa-js btn-social"></i>
        <i class="fa-solid fa-code btn-social"></i>
        <i class="fa-solid fa-database btn-social"></i>
        <i class="fa-brands fa-github btn-social"></i>
        <i class="fa-brands fa-figma btn-social"></i>
        <i class="fa-brands fa-html5 btn-social"></i>
        <i class="fa-brands fa-css3-alt btn-social"></i>
        <i class="fa-brands fa-trello btn-social"></i>
        <i class="fa-brands fa-php btn-social"></i>
      </div>
    </div>
  </div>
</footer>
